// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample3.jpg);
  background-color: bisque;
  background-blend-mode: lighten;
  background-size: 100% 100%;
  
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
